body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orangered;
}
h2{
    font-size: 40px;
}
h2 span{
    color: orangered;
}
p{
    color: dimgray;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 100%;
}
.Anchor-button{
    text-decoration: none;
    background: linear-gradient(188deg,lightsalmon,tomato);
    font-weight: 400;
    padding:10px 40px;
    border-radius: 5px;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.my-dream{
    background-image: url(images/dream-bg.png.png);
    background-repeat: no-repeat;
    background-position:right;
}
.Experience-area{
    background-image: url(images/pictures2/exp-bg.png.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Experience-item{
    width: 45%;
    margin: 10px 5px 10px;
    padding-bottom: 20px;
    margin-left: 2%;
    box-shadow: 5px 7px 40px gray;
    border-radius: 10px;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(188deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#junior-web{
    border-left: 7px solid;
    border-image: linear-gradient(188deg,blue,cyan);
    border-image-slice: 1;
}